.container {
  display: grid;
  margin: auto;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 5px;
  box-shadow: 2px 4px 25px rgba(0, 0, 0, 0.2);
  width: 85%;
}

.container h1 {
  font-size: 3rem;
}

.navbarTitle {
  cursor: pointer;
}
